<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- 1. Kết nối DB -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">
      jdbc:mysql://localhost:3306/dormitorymanagement?serverTimezone=Asia/Ho_Chi_Minh
    </property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>

    <!-- 2. Dialect -->
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQL8Dialect
    </property>

    <!-- 4. Show SQL (tuỳ chọn) -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>

    <!-- 5. Đăng ký entity -->
    <mapping class="model.Room"/>
    <mapping class="model.Student"/>
    <mapping class="model.Contract"/>
    <mapping class="model.User"/>
  </session-factory>
</hibernate-configuration>
